@media  (max-width: 500px){
.icon{
  display: none;
  visibility: hidden;
}}
.wrapper1{
 /* backdrop-filter: blur(10px);
background-position: center;
background-repeat: repeat;
background-size:500px;
content: "";
background-position-x: center;
opacity: 0.9; */
color: #000000;
background-color:hsl(80, 85%, 72%);
border-radius:20px;

}
